- title "house results"

= link_to 'lighthouse link', 'http://polco.lighthouseapp.com/projects/43281/tickets/33-house-results'
%p
   this page displays the representation table to compare user and rep votes                          |
   it lists the bills the user has voted on, the user’s vote, the rep’s vote, and bill house result   |
   should eventualy also include the district cumulative vote and the                                 |

%p map here