- title "districts"

= link_to "lighthouse link", 'http://polco.lighthouseapp.com/projects/43281/tickets/31-house-districts-legislators'

%p
  this page lists the legislative districts and displays their legislators             |
  also, at the bottom of the page it has a table of recent bills’ roll call results    |