- if current_user
  %p= "Welcome #{current_user.name}"

.span12
  #tagline.center
    %h1#below REPRESENT
    %h1#above REPRESENT
    / %img.curly{:alt => "", :height => "16", :src => "img/curly.png", :width => "71"}
    = image_tag "curly.png", height: "16", width: "71", class: "curly"
    %p#sub_tagline
      POLCO is your
      %a{:href => ""}
        %b political compass
      where you can know and see how you are
      %a{:href => ""}
        %b represented.